# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
*.iml

# Misc
coverage/

# Generated localization (run: flutter gen-l10n)
lib/l10n/app_localizations*.dart
